/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.mobile-menu-button {
    position: fixed;
    top: 0.2em;
    right: 0.2em;
    z-index: 1001;

    font-size: 2.3em;
    color: #ffffff;
    line-height: 0;

    visibility: hidden;
}

.mobile-menu-button:hover {
    color: #26d06c;
}

#header {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -13.7em;
    left: auto;

    z-index: 1000;
    transition: all 0.3s;
}

#header .nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header a {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    margin: 0;
    padding: 4px;

    color: #ffffff;

    transition: all 0.5s;
}

#header a:link {
    text-decoration: none;
}

#header a:visited {
    text-decoration: none;
}

#header a:hover {
    color: #26d06c;
}

#header a:active {
    text-decoration: none;
}

#header a.active {
    color: #26d06c;
}

#header a i{
    font-size: 2em;
    color: inherit;
    width: 1.4em;
}

#header a span {
    color: inherit;
    font-size: 1.5em;
    font-weight: bold;

    padding-right: 16px;
    margin: 0;
}


.mobile-menu-active {
    overflow: hidden;
}

.mobile-menu-active #header {
    right: 0;
}

@media (max-width: 992px){
    .mobile-menu-button {
        visibility: visible;
    }

    #header {
        right: -20em;

        background: rgba(40, 40, 40, 0.9);
        padding-left: 12px;

        overflow: scroll;
    }

    #header a i {
        font-size: 1.6em;
        width: 1.4em;
    }

    #header a span {
        font-size: 1.2em;
        font-weight: 500;
        padding-right: 8px;
    }
}


/*--------------------------------------------------------------
# Intro
--------------------------------------------------------------*/
#intro {
    padding: 0;
}

#intro .logos{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;

    display: flex;
    padding: 3% 3%;
    justify-content: space-between;
    align-items: center;
}

#intro .logo-bar {
    height: 64px;
    width: 2px;
    background: white;
    padding: 0;
    margin: 0 12px;

    display: none;
}

#intro .intro-container{
    min-height: 100vh;
    width: 100%;
    padding: 0 3%;
    margin: 0;

    background-image: url(../images/intro_page/intro_page_background_img.jpeg);
    background-position: center;
    background-size: cover;

    position: relative;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
}

#intro .iitk-logo{
    width: 120px;
}

#intro .ec-logo{
    width: 120px;
}

#intro .text-box{
    width: 100%;
    color: #fff;
}

#intro .election{
    font-size: 65px;
    color: #18d26e;
    font-weight: 700; 
}
#intro .commission{
    font-size: 65px;
    color: #fff;
    font-weight: 700;
}

#intro .iit-kanpur {
    font-size: 55px;
    font-weight: 500;
}

#intro .text-box2{
    width: 70%;
    color: #fff;
    font-weight: 500;
    margin: 12px 0;
}
#intro .text-box2 p{
    font-size: 16px;

    padding: 0;
    margin: 0;
}

#intro .text-box3 a,
#intro .text-box3 a:active{
    color: #18d26e;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    white-space: nowrap;
}

#intro .text-box3 a:hover {
    color: #fff;
    text-decoration: none;
}

#intro .text-box3 .fa{
    display: inline;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

#intro .bar{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
  
  
  @media(max-width: 960px){
  #intro .logos{
    justify-content: flex-start;
  }
  
  #intro .ec-logo{
    width: 64px;
  }

  #intro .iitk-logo{
    width: 56px;
  }

  #intro .logo-bar{
    display: block;
  }

  #intro .election{
      font-size: 28px;       
      color: #18d26e;
  }

  #intro .commission{
      font-size: 28px;
  }

  #intro .iit-kanpur {
    font-size: 20px;
  }

  #intro .text-box2{
    width: 100%;
  }
  
  #intro .text-box2 p{
    font-size: 14px;
    font-weight: 300;
  }

  #intro .text-box3 a,
  #intro .text-box3 a:active{
    font-size: 14px;
  }

  #intro .text-box3 .fa{
    display: inline;
    color: #fff;
    font-size: 16px;
  }
  #intro .bar{
    font-size: 20px;
  }
  }


/*--------------------------------------------------------------
# Executive Candidates
--------------------------------------------------------------*/
#executives{
    background-color: #202020;
}

#executives .candidate-row{
    margin: 0;
    justify-content: flex-start;
}

#executives .col {
    padding: 0;
    margin: 0;
    transition-duration: 500ms;
}

#executives .candidate-col{
    display: block;
    position: relative;
    overflow: hidden;

    margin: 12px;
    border-radius: 16px;
}

#executives .cand-link {
    color: #202020;
}

#executives .cand-link:hover .candidate-col {
    outline: 2px solid rgba(24, 210, 111, 0.8);
}

#executives .exe-img{
    position: relative;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
}

#executives .candidate-col img {
    height: 100%;
    width: 100%;
    display: block;

    object-fit: cover;
}

#executives .candidate-name {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
}

#executives .post{
    font-size: 12px;
    font-weight: 600;
    color: #737373;
    text-align: center;
    text-transform: uppercase;
    
    margin: 0;
    padding: 0;
}

#executives .category{
    font-size: 12px;
    font-weight: 500;
    color: #737373;
    text-align: center;
    text-transform: uppercase;
    
    margin: 0;
    padding: 0;
}

#executives .desc{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 16px 0 12px 0;
    transition-duration: 500ms;
}

@media(max-width: 576px) {
    #executives .candidate-col {
        width: 80%;

        margin-left: auto;
        margin-right: auto;
    }
}
.convertToModal{
    height: 100%;
}
.convertToDiv{
    height: fit-content;
}
/*--------------------------------------------------------------
# Senator Candidates
--------------------------------------------------------------*/
#senators {
    background-color: #202020;
}

#senators a,
#senators a:active {
    text-decoration: none;
    font-weight: bold;
    display: block;

    width: min-content;

    padding: 0;
    margin: 0 auto;

    color: #18d26e
}

#senators a:hover {
    color: #ffffff;
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
#team {
    display: block;
}

#team .ceo-div {
    width: 100%;
    background-color: #0e313b;
}

#team .man-div {
    width: 100%;
    background-color: #000d2b;
}

#team .ceo {
    padding: 0;
    margin: 16px auto;
    justify-content: space-around;
}

#team .man {
    padding: 0;
    margin: 0 auto;
}

#team .team-card {
    display: block;
    width: 100%;
    height: 100%;

    padding: 20px 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 18px;
}

#team .img-div {
    border-radius: 50%;
    background-image: linear-gradient(30deg, #2bcece, #2a4444);
    overflow: hidden;

    width: 148px;
    height: 148px;
    flex: 0 0 148px;

    padding: 6px;
}

#team img {
    width: 100%;
    border-radius: 50%;

    object-fit: cover;
}

#team .info-div {
    flex: 1 1 fit-content;

    display: flex;
    flex-direction: column;
    align-items: start;
}

#team .text-deco {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    white-space: normal;
}

#team .p-name {
	padding: 0px;
    margin: 0px;

    font-size: 19px;
    color: #ffffff;
}

#team .p-des {
    padding: 0px;
    margin: 0 0 4px 0;

    font-size: 15px;
    color: #18d26e;
}

#team .tel-link,
#team .tel-link:active {
    padding: 0px;
    margin: 0px;

    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

#team .tel-link:hover {
    text-decoration: none;
    color: #a6a6a6;
}

#team .p-sm {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#team .social-link,
#team .social-link:active {
    font-size: 16px;
    color: #a6a6a6;
    text-decoration: none;
}

#team .social-link:hover {
    color: #ffffff;
    text-decoration: none;
}

@media(min-width: 1200px) {
    #team .container {
        max-width: 1280px;
    }
}

@media(max-width: 960px) {
    #team .team-card {
        padding: 16px 0;
    }

    #team .img-div {
        width: 136px;
        height: 136px;
        flex: 0 0 136px;
    }

    #team .p-name {
        padding: 0px;
        margin: 0px;
    
        font-size: 17px;
        color: #ffffff;
    }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
#testimonials .testimonials-swiper {
    width: 100%;

    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: auto;
    margin-left: auto;

    overflow: hidden;
}

#testimonials .testimonials-swiper .swiper-slide {
    background-position: center;
    background-size: cover;

    width: 196px;
    height: 196px;
    border-radius: 50%;

    overflow: hidden;
}

#testimonials .testimonials-swiper .swiper-slide img {
    display: block;
    width: 100%;

    object-fit: cover;
}

#testimonials .testimonials-swiper .testimonial-text {
    margin: 24px 0 0 0;
    padding: 0;

    display: none;
}

#testimonials .testimonials-swiper-prev-btn,
#testimonials .testimonials-swiper-next-btn {
    width: fit-content;
    height: fit-content;

    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 900;

    font-weight: bold;
    margin: auto 0;

    cursor: pointer;
}

#testimonials .testimonials-swiper-prev-btn {
    left: 12px;
}

#testimonials .testimonials-swiper-next-btn {
    right: 12px;
}

#testimonials .test-text-swiper {
    width: 100%;

    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: auto;
    margin-left: auto;

    overflow: hidden;
}

#testimonials .test-text-swiper .swiper-slide {
    background-position: center;
    background-size: cover;

    padding-right: 8px;
    padding-left: 8px;
}

#testimonials .test-text-swiper h4,
#testimonials .test-text-swiper h6 {
    text-align: center;
    text-transform: uppercase;

    margin: 2px 0;
    padding: 0;
}

#testimonials .test-text-swiper h4 {
    font-size: 24px;
}

#testimonials .test-text-swiper h6 {
    color: #a6a6a6;
    font-size: 17px;
}

#testimonials .test-text-swiper p {
    text-align: center;
    font-size: 16px;

    margin: 8px 0;
    padding: 0;
}

#testimonials .testimonials-swiper-prev-btn i,
#testimonials .testimonials-swiper-next-btn i {
    font-size: 2em;
    color: #ffffff;
}

#testimonials .testimonials-swiper-pagination {
    text-align: center;
}

#testimonials .swiper-pagination-bullet {
    background: #ffffff;
}

#testimonials .swiper-pagination-bullet-active {
    background: #18d26e;
}

@media(max-width: 992px) {
    #testimonials .testimonials-swiper .swiper-slide {
        width: 168px;
        height: 168px;
    }

    #testimonials .test-text-swiper h4 {
        font-size: 20px;
    }

    #testimonials .test-text-swiper h6 {
        font-size: 14px;
    }

    #testimonials .test-text-swiper p {
        font-size: 14px;
    }    
}

@media(max-width: 768px) {
    #testimonials .container {
        max-width: 100%;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(min-width: 768px) {
    #testimonials .container {
        max-width: 768px;
    }
}

@media(min-width: 992px) {
    #testimonials .container {
        max-width: 960px;
    }
}

@media(min-width: 1200px) {
    #testimonials .container {
        max-width: 1140px;
    }
}


/*--------------------------------------------------------------
# Map
--------------------------------------------------------------*/
#map {
    background-color: #202020;
    margin: 0;
}

#map .map-div{
    width: 100%;
    height: 500px;
    
    margin: 0;
    padding: 0;
}


/*--------------------------------------------------------------
# Announcement
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#announcement{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
    position: relative;
}
#announcement_header{
    width: auto;
    height:50px;
    margin: auto; 
    position: relative;
    z-index: 100;
}
a {
    color: #18d26e;
    text-decoration: none;
}
.carousel{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item img::before{
    z-index: -1;
    filter: brightness(50%);
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author{
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 1.3em;
}
.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .topic{
    color:  #18d26e;
    margin-bottom: 0.4em;
}
.carousel .list .item .des{
    font-size: 1.15em;
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  #18d26e;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #6bc595;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #18d26e;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 2s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}
